/* ФОРМА */
/* блок ввода в форму*/
.form-control {
	width: 20rem;
	height: 2.75rem;
	border-color: #2e538c;
	border-radius: 0;
	cursor: text;
}

/* при нажатии на форму */
.form-control:focus {
	box-shadow: none;
	border-color: #C7D9FD;
}

/* стиль для placeholdera форм */
.form-control::placeholder {
	color: #979797;
}
